body{
	font-family: arial, sans-serif;
	font-size: small;
}

#maindiv{
	height: 231px;
	margin-top: 20px;
}

#mainimg{

	width: 269px;
	height: 95px;
	padding-top: 112px;
}

#barcontainer{
	width: 100%;
}

#searchbar{
	width: 572px;
	height: 30px;
	border: 1px solid rgba(0,0,0,0.15);
	font: 16px arial, sans-serif;
	padding: 0 0 0 9px;
}

#searchbar:focus{
	border-color:#4285f4;
}

.button{
	margin: 16px 8px;
	background: -moz-linear-gradient(center top, #f5f5f5, #f1f1f1) repeat scroll 0 0 rgba(0,0,0,0);
	border: 1px solid rgba(0,0,0,0.1);
	color: #444;
	font-size: 11px;
	border-radius: 2px;
	display: inline-block;
	font-weight: bold;
	height: 29px;
	line-height: 29px;
	min-width: 54px;
	padding: 0 8px;
	text-align: center;
	text-decoration: none;
}

.button:hover{
	background: -moz-linear-gradient(center top, #f8f8f8, #f1f1f1) repeat scroll 0 0 rgba(0,0,0,0);
	border-color: #c6c6c6;
	color: #222;
	box-shadow: 0 1px 0 rgba(0,0,0,0.15);
}