/*div{
	border: 1px dashed black;
}*/

body{
	font-family: arial, sans-serif;
	font-size: small;
}

ul {
    list-style-type: none;
    float: right;
    position: relative;
    margin-right: 30px;
} 

li {
	color: #000;
	text-decoration: none;
	display: inline-block;
	padding-left: 13px;
}

a {
	color: #000;
	text-decoration: none;
}

li:focus, li:hover{
	text-decoration: underline;
}

#header{
	position: absolute;
	width: 100%;
	left: 0px;
    top: 0;
}


/*css for the icons in the header only*/
#header li:nth-child(n+4){
	padding-left: 0px;
	background-image: url("http://ssl.gstatic.com/gb/images/i1_71651352.png");
    background-size: 356px 144px;
	color: #404040;
	vertical-align: middle;
	border-radius: 2px;
   	height: 30px;
	width: 30px;
	margin-left: 15px;
}

#header_apps{
	background-position: -326px -52px;
	opacity: 0.55;
}

#header_notifications{
	background-image: url("https://ssl.gstatic.com/gb/images/i1_71651352.png");
	background-position: -214px -117px;
	background-color: rgba(0, 0, 0, 0.55);
    border-radius: 50%;
    height:20px;
    line-height: 20px;
    width:20px;
    margin: 5px;
}

#header_share{
	background-position: -326px -17px;
	opacity: 0.55;
}

#header_account{
    background-image: url("https://lh6.googleusercontent.com/-NO_wyk8xdF0/AAAAAAAAAAI/AAAAAAAAAAA/6SxPdTWVjHg/s32-c/photo.jpg");
    background-size: 32px 32px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    margin: -1px;
}

#maindiv{
	height: 231px;
	width: 100%;
	margin-top: 80px;
}

#mainimg{

	width: 269px;
	height: 95px;
	padding-top: 112px;
}

#barcontainer{
	width: 100%;
}

#searchbar{
	width: 572px;
	height: 30px;
	border: 1px solid rgba(0,0,0,0.15);
	font: 16px arial, sans-serif;
	padding: 0 0 0 9px;
}

#searchbar:focus{
	border-color:#4285f4;
}

.button{
	margin: 16px 8px;
	background: -moz-linear-gradient(center top, #f5f5f5, #f1f1f1);
	border: 1px solid rgba(0,0,0,0.1);
	color: #444;
	font-size: 11px;
	border-radius: 2px;
	display: inline-block;
	font-weight: bold;
	height: 29px;
	line-height: 29px;
	min-width: 54px;
	padding: 0 8px;
	text-align: center;
	text-decoration: none;
}

.button:hover{
	background: -moz-linear-gradient(center top, #f8f8f8, #f1f1f1) repeat scroll 0 0 rgba(0,0,0,0);
	border-color: #c6c6c6;
	color: #222;
	box-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

#footer{
	bottom: 0;
	height: 40px;
	width: 100%;
	left: 0px;
	background-color:#f2f2f2;
	border-top: 1px solid rgba(0,0,0,0.1);
	position: fixed;
}

#footer a{
	color:#606060;
}

#footer_left{
	float: left;
}